registry=https://artifactory.chapyar.com/artifactory/api/npm/npm/
//artifactory.chapyar.com/artifactory/api/npm/npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJmMmxRMmlLR3Y4WGM4U3VwOEJ3cS1MQnpUMERJOW9QSFNtSGpfaFZNVnpjIn0.eyJzdWIiOiJqZnJ0QDAxZ2RmNHlnd2p0czhoMHg1MndqcjAwYzN5XC91c2Vyc1wvYWxpLmdoIiwic2NwIjoibWVtYmVyLW9mLWdyb3VwczoqIGFwaToqIiwiYXVkIjoiamZydEAwMWdkZjR5Z3dqdHM4aDB4NTJ3anIwMGMzeSIsImlzcyI6ImpmcnRAMDFnZGY0eWd3anRzOGgweDUyd2pyMDBjM3lcL3VzZXJzXC9hbGkuZ2giLCJpYXQiOjE2ODI3NTI2MjQsImp0aSI6IjYwMmRmM2YwLWNkNDktNGI4NC1iYzgzLTFkMGIwZjcwNmM2ZiJ9.iS5Vz1vbgYDrmy54r3M0lskRxBKCCBUws1a8QnH3IbOOvpnQ6WjiXeTelWXgZnV3WEkPvqzfV4B_Mhzs6Zdoicxct5hOsDDN43A31T1Op6U2gApL9RVgSN-CEG59X0zmsx-SY8KPhmyl2b_Kl73jIPjWUb0zPGN8o1z-lDFdQZrgcSG0Qu3PMAOF8CzpLik3qEr0z0dAMpIQMLiwoY5V2_V3begJjTz7_nPHwtylB7c1pWAj0Kv9YEC55DvZRG0M3txbqX6KzXdogoAbuf-VWAcZOV0i60oGjc8maVaxm3e4pXGR6jwhn88kkTM7qUKpsfUKozOAxKH3adeDxm4U1w
proxy=http://192.168.1.119:9072
always-auth=true
